
.login {
    padding: 80px 0;

    .textBoxVelkommen {
        margin-bottom: 40px;
        letter-spacing: 5px;
        text-align: center;
        text-transform: uppercase;
    }
    
    .opret-bruger {
        margin-bottom: 40px;
        font-weight: 400;
        letter-spacing: 4px;
        text-align: center;
    }
}