
.profile {
        
    .btn-take-a-photo{
        font-family: 'Montserrat';
        font-weight: 700;
        @include buttonSize(0); 
        letter-spacing: 2px;
        text-align: center;
        color: white;
        border-radius: 25px;
        width: 30vw;
        padding: 4px 4px;
        background-color: $purpleLight;
        background-image: $gradient;
        position: absolute;
        margin: 0 auto;
        margin: 18vh 20vw;
    }
    .position-btn-take-a-photo{
        margin-top: 20vh;
    }
    
    .btn-lav-sky {
        @include buttonSize(0); 
        width: 30vw;
        font-family: 'Montserrat';
        font-weight: 600;
        letter-spacing: 2px;
        text-align: center;
        border-radius: 25px;
        color: white;
        padding: 4px 4px;
        background-color: $purpleLight;
        background-image: $gradient;
        margin: 0 auto;
        margin-top: 8vh;
        left: 24vw;
        position: absolute;
        z-index: 1;
    }
    
    .take-a-photo-wrapper {
        margin: 0 auto;
        margin-top: 5vh;
        width: 70vw;
        height: 50vh;
        background: white;
    }
    
    .take-a-photo-inner-wrapper{
        margin: 0 auto;
        margin-top: 1vh;
        width: 70vw;
        height: 40vh;
        background: #9B9696;
        position: relative;
        overflow: auto;
    }
    
    .fa-cog {
        color: white;
    }
    
    .edit-box {
        border-radius: 15px;
        overflow: hidden;
        width: 30px;
        height: 30px;
        background-color: $editBoxColor;
        border: 0px solid $editBoxColor;
        top: -10px;
        position: relative;
    }
    
    .create-cloud-wrapper{
        width: 80vw;
        height: 30vw;
        position: relative;
        margin: 0 auto;
    }
    
    .cloud1 {
        height: 1.3rem;
        
        width: 17.8vw;
        height: 3.27vh;
        margin-top: 2vh;
        margin-left: 9vw;
        position: absolute;
        background: $greyBoxColor;
    }
    
    .cloud2 {
        
        width: 30vw;
        height: 2.6vh;
        margin-top:6vh;
        margin-left: 2vw;
        position: absolute;
        background: $greyBoxColor;
    }
    
    .cloud3 {
        width: 24vw;
        height: 2.8vh;
        margin-top: 9.2vh;
        margin-left: 7.6vw;
        position: absolute;
        background: $greyBoxColor;
    }
    
    .cloud4 {
        width: 18vw;
        height: 2.9vw;
        margin-top: 12.9vh;
        margin-left: 21vw;
        position: absolute;
        background: $greyBoxColor;
    }
    
    .cloud5 {
        width: 31.5vw;
        height: 2.4vh;
        margin-top: 2.2vh;
        margin-left: 43vw;
        background: $greyBoxColor;
        position: absolute;
    }
    
    .cloud6 {
        width: 41.5vw;
        height: 4.4vh;
        margin-top: 5.2vh;
        margin-left: 33vw;
        background: $greyBoxColor;
        position: absolute;
    }
    
    .cloud7 {
        width: 33vw;
        height: 2.4vh;
        margin-top: 10vh;
        margin-left: 35vw;
        background: $greyBoxColor;
        position: absolute;
    }
    
    .profile-percentage-title {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: .8vh;
    }
    
    .profile-percentage-graphics {
        border-radius: 25px;
        height: 2.4vh;
        width: 72vw;
        padding: 4px 4px;
        background-color: $procentGrey;
        position: relative;
        margin: 0 auto;
    }
    
    .profile-percentage-graphics-bar {
        border-radius: 25px;
        height: 2.4vh;
        width: 16vw;
        padding: 4px 4px;
        background-color: $purpleDark ;
        margin: -4px -4px -4px -4px;
    }
    
    .profile-percentage-overview {
        margin-top: 4vh;
    }
    
    .profile-percentage-not-public-yet {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: .7rem;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 1.4vh;
    }
}