

.tagFoto {
    width: 100%;
    min-height: 100vh;
    background-color: #D67AD3;
    background-image: linear-gradient(#D67AD3, #9769D4);
    position: relative;
  
    .tilbageKnap {
        font-family: 'Montserrat';
        font-weight: 700;
        @include buttonSize(.2);
        letter-spacing: 2px;
        text-align: left;
        color: white;
        border-radius: 25px;
        width: 31vw;
        padding: 4px 4px;
        margin: 2vh;
        position: absolute;
    }

    .tag-foto-div{
        @include flexCenter();
        color: white;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 15px;
    }

    .fa-backward {
        color: white;
    }
}