

.take-a-photo {
    width: 100%;
    min-height: 100vh;
    background-color: #D67AD3;
    background-image: linear-gradient(#D67AD3, #9769D4);
    position: relative;

    .take-a-photo-div{
        @include flexCenter();
        color: white;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 15px;
    }

    .fa-backward {
        color: white;
    }
}