
// Text alignment

.u-text-left        { text-align: left; }
.u-text-center      { text-align: center; }
.u-text-right       { text-align: right; }

// Font weight

.u-text-thin        { font-weight: 100; }
.u-text-ultralight  { font-weight: 200; }
.u-text-light       { font-weight: 300; }
.u-text-regular     { font-weight: 400; }
.u-text-medium      { font-weight: 500; }
.u-text-semibold    { font-weight: 600; }
.u-text-bold        { font-weight: 700; }
.u-text-extrabold   { font-weight: 800; }
.u-text-black       { font-weight: 900; }

// Text transformation

.u-text-upper       { text-transform: uppercase; }