// Button

.button {
    display: inline-flex;
    height: 40px;
    margin: 0 auto;
    padding: 8px;
    border: 2px solid #c0c0c0;
    border-radius: 20px;
    background-color: #c0c0c0;
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    // letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button--block {
    display: block;
    width: 100%;
}

.button--border {
    background-color: transparent;
    color: currentColor;
}

// Social buttons

.button--social {
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
}

.button--facebook {
    background-color: #3b5998;
    color: white;
}

.button--google {
    background-color: #3369e8;
    color: white;
}

.button--twitter {
    background-color: #08a0e9;
    color: white;
}

// Gradient

.button--gradient {
    padding: 10px;
    border: none;
    background-color: #D67AD3;
    background-image: linear-gradient(#D67AD3, #9769D4);
    color: $white;
}