// Base button

.button {
    display: inline-flex;
    height: 40px;
    padding: 8px;
    border: 2px solid #c0c0c0;
    border-radius: 20px;
    background-color: #c0c0c0;
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    // letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

// Button shapes

.button--block {
    display: block;
    width: 100%;
}

.button--border {
    background-color: transparent;
    color: currentColor;
}

.button--link {
    border-color: transparent;
    background-color: transparent;
}

// Button colors

.button.button--primary:not(.button--border):not(.button--link) {
    border-color: $primary;
    background-color: $primary;
    color: $white;
}

.button--border.button--primary {
    border-color: $primary;
    color: $primary;
}

.button--link.button--primary {
    color: $primary;
}

// Gradient

.button--gradient:not(.button--border):not(.button--link) {
    padding: 10px;
    border: none;
    background-color: $primary;
    background-image: linear-gradient($primary-light, $primary);
    color: $white;
}

// Social buttons

.button--social {
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
}

.button--facebook {
    background-color: $facebook;
    color: white;
}

.button--google {
    background-color: $google;
    color: white;
}

.button--twitter {
    background-color: $twitter;
    color: white;
}

.btn-back {
    font-family: 'Montserrat';
    font-weight: 700;
    @include buttonSize(.26);
    letter-spacing: 2px;
    text-align: left;
    color: white;
    border-radius: 25px;
    width: 31vw;
    padding: 4px 4px;
    margin: 4% 5.5%;
    position: absolute;

    &--black {
    color: black; 
    }
}