
// Layout

$content-width: 400px;
$grid-columns: 12;
$grid-gutter: 30px;

// Typography

$font-family-base: 'Montserrat';
$font-size-base: 16px;
$line-height-base: 1.5;
$font-weight-base: 400;
$font-style-base: normal;
$font-family-alt: 'Montserrat';
$font-size-alt: 24px;
$line-height-alt: 1.25;
$font-weight-alt: 700;
$font-style-alt: normal;

// Grayscale colors

$white: #fff;
$gray-1: #eee;
$gray-2: #ccc;
$gray-3: #888;
$gray-4: #555;
$gray-5: #333;
$black: #000;

// Theme colors

$primary: #9769D4;
$primary-light: #D67AD3;
$primaryp-dark: #855DBA;

// Utility colors

$note: #1371D6;
$success: #058541;
$warning: #FFBB10;
$error: #C72A1C;

// Brand colors

$facebook: #3b5998;
$google: #3369e8;
$twitter: #08a0e9;

// Colors

$primaryBtn: rgb(253, 126, 20);
$greyBoxColor: #F4F1F1;
$editBoxColor: #C8C8C8;
$purpleLight: #D67AD3;
$purpleDark: #9769D4;
$gradient: linear-gradient($purpleLight, $purpleDark);
$procentGrey: #F4F1F1;
