
// Layout

$content-width: 400px;
$grid-columns: 12;
$grid-gutter: 30px;

// Typography

$font-family-base: 'Montserrat';
$font-size-base: 16px;
$line-height-base: 1.5;
$font-weight-base: 400;
$font-style-base: normal;
$font-family-alt: 'Montserrat';
$font-size-alt: 24px;
$line-height-alt: 1.25;
$font-weight-alt: 700;
$font-style-alt: normal;

// Colors
$white: #fff;
$primaryBtn: rgb(253, 126, 20);
$greyBoxColor: #F4F1F1;
$editBoxColor: #C8C8C8;
$purpleLight: #D67AD3;
$purpleDark: #9769D4;
$gradient: linear-gradient($purpleLight, $purpleDark);
$procentGrey: #F4F1F1;
